# My Jupyter Notebook on IBM Watson Studio

Name = AMISHA BAGHEL

Desired_Occupation: Software engineer

I am interested in data science because I believe that this is a field suited to my personal strengths and talents. Throughout my degree, I have really enjoyed the challenges of working with large data sets to gain insight into underlying trends. So, this is something I want to pursue as a career.

# The code in Cell 5 will calculate 2 squared, assign that value to a new variable and print the value of that variable.

In [1]:
new_variable = 2**2

print(new_variable)

4

In [2]:
# Horinzontal rule
DS_tools = ["R", "Python", "SQL"]
print (DS_tools)

['R', 'Python', 'SQL']

# Bulleted list

Number One
Mumber two
Number three
Number four

# Numbered list

Fish
Eggs
Cheese